@import url("//fonts.googleapis.com/css?family=Dosis");

html {
  margin: 0;
  line-height: 1.15;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  color: #8760ff;
  background-color: #f8f9ff;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}
